<html>
    <head>
        <script src="/static/vendor/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/manager.js"></script>
        <script src="/static/js/3d.js"></script>
        <link rel="stylesheet" href="/static/css/base.css" />
        <link rel="stylesheet" href="/static/vendor/styles/bulma.css" />
        <link rel="stylesheet" href="/static/vendor/styles/fontawesome/css/fontawesome-all.min.css" />

        <title>CNC mill manager</title>

        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
