{% extends "base.html" %}

{% block content %}
    <div class="container" id="page-manager">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">Management</h1>
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Initialization</h2>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth initialize-trigger">
                                <span class="icon"><i class="fa fa-sync"></i></span>
                                <span>Initialize machine</span>
                            </button>
                        </div>
                    </div>

                    <h2 class="subtitle has-small-bottom-margin">Move scale</h2>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="move-scale" value="0.1">
                            0.1mm
                        </label>
                        <label class="radio">
                            <input type="radio" name="move-scale" value="1" checked>
                            1mm
                        </label>
                        <label class="radio">
                            <input type="radio" name="move-scale" value="10">
                            10mm
                        </label>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <h1 class="title">Z axis</h1>
                <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="0" data-direction-z="1">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                </button>

                <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="0" data-direction-z="-1">
                    <span class="icon"><i class="fa fa-minus"></i></span>
                </button>
            </div>
            <div class="column">
                <h1 class="title">X&Y axes</h1>
                <div class="columns is-mobile">
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="-1" data-direction-y="-1" data-direction-z="0">
                            X - 1, Y - 1
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="-1" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-up"></i></span>
                            <span>Y - 1</span>
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="1" data-direction-y="-1" data-direction-z="0">
                            X + 1, Y - 1
                        </button>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="-1" data-direction-y="0" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-left"></i></span>
                            <span>X - 1</span>
                        </button>
                    </div>
                    <div class="column">
                        &nbsp;
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="1" data-direction-y="0" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            <span>X + 1</span>
                        </button>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="-1" data-direction-y="1" data-direction-z="0">
                            X - 1, Y + 1
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="1" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-down"></i></span>
                            <span>Y + 1</span>
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="1" data-direction-y="1" data-direction-z="0">
                            X + 1, Y + 1
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="title">G-code</h1>
        <div class="columns">
            <div class="column">
                <textarea class="textarea gcode" placeholder="Place G-code here..." rows="15"></textarea>
            </div>
            <div class="column simulation-image">
            </div>
            <div class="column">
                <textarea class="textarea logs" readonly rows="15"></textarea>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Simulation</h2>

                    <div class="field">
                        <label class="label">Tool width</label>
                        <div class="control">
                            <input class="input tool-diameter" type="text" value="1.5">
                        </div>
                    </div>
                    <button class="button is-primary is-fullwidth simulate">
                        <span class="icon"><i class="fa fa-image"></i></span>
                        <span>Simulate</span>
                    </button>
                </div>
            </div>
            <div class="column">
                <button class="button is-primary is-fullwidth run-gcode">
                    <span class="icon"><i class="fa fa-play"></i></span>
                    <span>Run</span>
                </button>
            </div>
            <div class="column">
                <button class="button is-danger is-fullwidth abort">
                    <span class="icon"><i class="fa fa-stop"></i></span>
                    <span>Abort</span>
                </button>
                <p class="help">Caution: aborting is <b>not</b> a graceful shutdown. May leave the machine in an inconsistent state, eg. PUL signal on motors enabled.</p>
            </div>
        </div>
        <h1 class="title">G-code examples/help</h1>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Example 1: square</h2>
<pre>G91
G0 X20 Y0
G0 X0 Y20
G0 X-20 Y0
G0 X0 Y-20</pre>
                </div>
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Example 2: circle</h2>
<pre>G90
G17
G2 X0 Y40 I0 J20
G2 X0 Y0 I0 J-20</pre>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Example 2: heart</h2>
<pre>G90
G17
G00 X0 Y0 Z0
G03 I-61.628 J97.887 X12.75 Y9.299
G03 I-29.522 J35.163 X22.936 Y21.413
G03 I-25.405 J14.172 X25.429 Y27.343
G03 I-16.678 J4.928 X26.078 Y33.766
G03 I-14.079 J-0.198 X22.851 Y42.54
G03 I-11.77 J-9.73 X14.98 Y47.575
G03 I-3.999 J-15.318 X9.302 Y47.999
G03 I1.586 J-14.877 X3.849 Y46.323
G03 I4.434 J-8.488 X0.903 Y43.939
G03 I18.934 J-15.66 X-1.256 Y40.881
G03 I-70.184 J-53.03 X-3.993 Y44.321
G03 I-6.421 J-5.376 X-7.811 Y46.905
G03 I-6.041 J-13.513 X-18.386 Y47.482
G03 I4.521 J-14.049 X-26.629 Y40.841
G03 I12.766 J-8.023 X-28.871 Y31.371
G03 I23.899 J2.305 X-26.034 Y22.149
G03 I35.942 J19.442 X-18.399 Y12.12
G03 I67.987 J70.782 X-8.799 Y4.015
G03 I-1685.75 J-2499.63 X-5.15 Y1.55
G03 I26.532 J39.219 X-1.398 Y-0.742
G03 I-1.46 J4.014 X-0.681 Y-0.403
G03 I-14963.4 J25262.9 X0 Y0
G00 X0 Y0</pre>
                </div>
            </div>
            <div class="column">
                <h2 class="subtitle has-small-bottom-margin">Help</h2>
                <div class="box">
                    <b>G90</b> absolute mode
                </div>
                <div class="box">
                    <b>G91</b> relative mode
                </div>
            </div>
        </div>
    </div>
{% endblock %}
