{% extends "base.html" %}

{% block content %}
    <div class="container" id="page-manager">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">Management</h1>
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Initialization</h2>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth initialize-trigger">
                                <span class="icon"><i class="fa fa-sync"></i></span>
                                <span>Initialize machine</span>
                            </button>
                        </div>
                    </div>

                    <h2 class="subtitle has-small-bottom-margin">Move scale</h2>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="move-scale" value="0.1">
                            0.1mm
                        </label>
                        <label class="radio">
                            <input type="radio" name="move-scale" value="1" checked>
                            1mm
                        </label>
                        <label class="radio">
                            <input type="radio" name="move-scale" value="10">
                            10mm
                        </label>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <h1 class="title">Z axis</h1>
                <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="0" data-direction-z="1">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                </button>

                <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="0" data-direction-z="-1">
                    <span class="icon"><i class="fa fa-minus"></i></span>
                </button>
            </div>
            <div class="column">
                <h1 class="title">X&Y axes</h1>
                <div class="columns is-mobile">
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="-1" data-direction-y="-1" data-direction-z="0">
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="-1" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-up"></i></span>
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="1" data-direction-y="-1" data-direction-z="0">
                        </button>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="-1" data-direction-y="0" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-left"></i></span>
                        </button>
                    </div>
                    <div class="column">
                        &nbsp;
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="1" data-direction-y="0" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-right"></i></span>
                        </button>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="-1" data-direction-y="1" data-direction-z="0">
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="0" data-direction-y="1" data-direction-z="0">
                            <span class="icon"><i class="fa fa-arrow-down"></i></span>
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth move-trigger" data-direction-x="1" data-direction-y="1" data-direction-z="0">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="title">G-code</h1>
        <div class="columns">
            <div class="column">
                <textarea class="textarea gcode" placeholder="Place G-code here..." rows="15"></textarea>
            </div>
            <div class="column simulation-image">
            </div>
            <div class="column">
                <textarea class="textarea logs" readonly rows="15"></textarea>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Simulation</h2>

                    <div class="field">
                        <label class="label">Tool width</label>
                        <div class="control">
                            <input class="input tool-diameter" type="text" value="1.5">
                        </div>
                    </div>
                    <button class="button is-primary is-fullwidth simulate">
                        <span class="icon"><i class="fa fa-image"></i></span>
                        <span>Simulate</span>
                    </button>
                </div>
            </div>
            <div class="column">
                <button class="button is-primary is-fullwidth run-gcode">
                    <span class="icon"><i class="fa fa-play"></i></span>
                    <span>Run</span>
                </button>
            </div>
            <div class="column">
                <button class="button is-danger is-fullwidth abort">
                    <span class="icon"><i class="fa fa-stop"></i></span>
                    <span>Abort</span>
                </button>
                <p class="help">Caution: aborting is <b>not</b> a graceful shutdown. May leave the machine in an inconsistent state, eg. PUL signal on motors enabled.</p>
            </div>
        </div>
        <h1 class="title">G-code examples/help</h1>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Example 1: square</h2>
<pre>G91
G0 X20 Y0
G0 X0 Y20
G0 X-20 Y0
G0 X0 Y-20</pre>
                </div>
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Example 2: circle</h2>
<pre>G90
G17
G2 X0 Y40 I0 J20
G2 X0 Y0 I0 J-20</pre>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h2 class="subtitle has-small-bottom-margin">Example 2: heart</h2>
<pre>G90
G17
G0 X153.8623 Y105.7423 Z0
G3 X166.612 Y115.0412 I-61.6276 J97.8867
G3 X176.7982 Y127.1557 I-29.5224 J35.1629
G3 X179.2916 Y133.0851 I-25.4054 J14.1724
G3 X179.94 Y139.5084 I-16.6781 J4.9277
G3 X176.7131 Y148.2823 I-14.0788 J-0.1976
G3 X168.842 Y153.317 I-11.7697 J-9.7301
G3 X163.1647 Y153.7412 I-3.9989 J-15.3176
G3 X157.711 Y152.0658 I1.5863 J-14.8774
G3 X154.7656 Y149.6811 I4.434 J-8.4879
G3 X152.6065 Y146.6231 I18.9344 J-15.6599
G3 X149.8697 Y150.0629 I-70.1838 J-53.0296
G3 X146.051 Y152.6468 I-6.4212 J-5.3761
G3 X135.4761 Y153.2238 I-6.0406 J-13.5134
G3 X127.233 Y146.5836 I4.5209 J-14.0485
G3 X124.9912 Y137.1138 I12.7664 J-8.0226
G3 X127.8282 Y127.8914 I23.8994 J2.3046
G3 X135.4631 Y117.8627 I35.9419 J19.4422
G3 X145.0632 Y109.7569 I67.9867 J70.7819
G3 X148.712 Y107.2922 I-1685.7528 J-2499.6337
G3 X152.4647 Y105. I26.5325 J39.2187
G3 X153.1817 Y105.3391 I-1.4597 J4.014
G3 X153.8623 Y105.7423 I-14963.3558 J25262.8749
G0 X153.8623 Y105.7423</pre>
                </div>
            </div>
            <div class="column">
                <h2 class="subtitle has-small-bottom-margin">Help</h2>
                <div class="box">
                    <b>G90</b> absolute mode
                </div>
                <div class="box">
                    <b>G91</b> relative mode
                </div>
            </div>
        </div>
    </div>
{% endblock %}
